* {
    font-family: 'Varela Round', sans-serif;
}

header {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.create-button {
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 8rem;
    cursor: pointer;
    border-radius: 25px;
}

body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    color:black;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
}

.container div {
    border:7px #cccccc solid;
    border-radius: 25px;
    height: auto;
    max-width: 30%;
    background-color: white;
    padding:10px;
    margin:10px;
    padding:2px;
    padding-top:0px;
    opacity: 0.5;
}

.noto {
    border:8px #cccccc solid;
    border-radius: 25px;
    height: auto;
    max-width: 30%;
    background-color: white;
    padding:18px;
    opacity: 0.5;
    outline: none;
}

h1 {
    margin: 20px;
}

p {
    margin: 20px;
}