* {
    font-family: 'Varela Round', sans-serif;
    margin:0;
    padding:0;
}

.navbar-container {
    overflow: hidden;
    position: fixed;
    background-color: #cccccc;
    top: 0;
    width: 100%;
    font-size: 0.85rem;
    opacity: 0.5;
}

form {
    display:flex;
    justify-content: center;
}

body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    color:black;
    margin-top: 80px;
}

.noto {
    border:8px #cccccc solid;
    border-radius: 25px;
    height: auto;
    max-width: 30%;
    background-color: white;
    padding:18px;
    opacity: 0.5;
    outline: none;
}

h1 {
    margin: 20px;
}

h3 {
    margin-left: 10px;
}

p {
    margin: 20px;
}